body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    color: white;
    background-color: #A52A2A;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
    padding: 5px;
}

.sunset {
    width: 100%;
    margin: 20px;
    padding: 5px;
}

p {
    font-size: 18px;
    line-height: normal;
    margin: 20px auto 0 20px;
    padding: 5px;
}

p a {
    text-decoration: none;
}

table {
    border-collapse: separate;
    margin: auto;
    border-spacing: 20px;
}

td {
    border-color: black;
    border-style: dashed;
    border-width: 3px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
}

